#headerBar{
	height: 75px;
	width: 100%;	
}

#logo{
	margin: 5px;
	width: 100%;
}

#uploadButton, #categoryButton{
	margin: 5px;
	width: 100%;
}

#categorySelector {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.photoSpot {
	height: 250px;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	border-color: black;
}

.modalStyle {
  position: fixed;
  max-width: 100%;
  top: 25%;
  transform: translate(0%, 0%);
}

.modal-content {
	width: 240%;
}

.modal-dialog {
	left: -25%;
	max-width: 35%;
}

@media screen and (max-width: 575px) and (min-width: 0px) {

	.modal-dialog {
		left: 5%;
		max-width: 35%;
	}
}