<!DOCTYPE html>
  	<html lang="en">

  		<head>
  			<meta charset="utf-8">
  			<title>CritterCategory</title>

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- AutoComplete JS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- critters.js  -->
      <script src="../models/critters.js"></script>

<!-- Bootstrap Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Bootstrap Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Reset Style Sheet -->
			<link rel="stylesheet" type="text/css" href="assets/css/reset.css">

<!-- CSS Sheet -->
			<link rel="stylesheet" type="text/css" href="assets/css/style.css">

 		 </head>

 		 <body>

 		 	<div class="container-fluid">
	 		 	<div class="row">
	 		 		<div class="col-lg-2">
						<a href="index.html"><div class="logo">SOME LOGO</div></a>
	 		 		</div>
	 		 		<div class="col-lg-5 upload">
	 		 			<a href="upload.html"><button type="submit" class="btn btn-lg btn-block" id="submitDetails">UPLOAD</button></a>
			 		</div>
			 		<div class="col-lg-5 catogory">
			 			<a href="category.html"><button type="submit" class="btn btn-lg btn-block" id="submitDetails">VIEW BY CATEGORY</button></a>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row">
					<div class="form-group">
			   			<label for="category">Choose a search category</label><br>
		    			<select id="categorySelector">
							<option selected value='1'>Category1</option>
							<option value='2'>Category2</option>
							<option value='3'>Category3</option>
							<option value='4'>Category4</option>
							<option value='5'>Category5</option>
							<option value='6'>Category6</option>
							<option value='7'>Category7</option>
							<option value='8'>Category8</option>
							<option value='9'>Category9</option>
						</select>
					</div>
				</div>
			</div>

 		 	<div class="container-fluid">
	 		 	<div class="row">
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category A
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category B
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category C
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category D
		 				</p></a>
		 			</div>
  				</div>
  			</div>

 		 	<div class="container-fluid">
	 		 	<div class="row">
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category E
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category F
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category G
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category H
		 				</p></a>
		 			</div>
  				</div>
  			</div>

  		 	<div class="container-fluid">
	 		 	<div class="row">
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category I
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category J
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category K
		 				</p></a>
		 			</div>
		 			<div class="col-sm-12 col-md-3 col-lg-3 photoSpot">
		 				<a href="assets/images/someImage" target="_blank"><img class="size" src="assets/images/someImage" alt="Image failed to load"><p class="links">Category D
		 				</p></a>
		 			</div>
  				</div>
  			</div>
	  		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
   			 <script src=assets/javaScript/app.js></script>
  		</body>
	 </html>
